<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="debug">
  <!-- 변수 정의 -->
  <Properties>
    <Property name="logLayout">%d{Default} %highlight{[%-5p]}{FATAL=red, ERROR=red, WARN=yellow,
      INFO=green, DEBUG=blue} %style{[%t]}{magenta} %style{[%C{3}]}{cyan} - %m%n%throwable
    </Property>
    <Property name="fileLayout">%d{Default} [%-5p] [%t] [%C{3}] - %m%n%throwable</Property>
    <Property name="projectName">Logging Test</Property>
  </Properties>

  <!-- 로그가 출력되는 위치 설정 -->
  <Appenders>
    <!-- 콘솔에 출력될 로그 설정 -->
    <!-- name : 설정 이름, target: 로그 타겟 (default: SYSTEM_OUT) -->
    <Console name="console.log" target="SYSTEM_OUT">
      <!-- 로깅 패턴 정의 -->
      <PatternLayout pattern="${logLayout}" charset="UTF-8"/>
    </Console>
    <!-- File : 로깅파일 정의 -->
    <!-- RollingFile : File의 개선된 형태로 기존 로그 파일을 백업파일로 변경하고 설정된 전략에 따라 로깅 -->
    <RollingFile name="file"
                 fileName="./logs/${date:yyyy}/${date:MM}/${projectName}_${date:yyyy-MM-dd}.log"
                 filePattern="./logs/${date:yyyy}/${date:MM}/${projectName}_%d{yyyy-MM-dd HH:mm:ss}_%i.log">
      <PatternLayout pattern="${fileLayout}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="2"/>
        <SizeBasedTriggeringPolicy size="1KB"/>
      </Policies>
      <DefaultRolloverStrategy max="3" fileIndex="min"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="console.log"/>
      <AppenderRef ref="file"/>
    </Root>
  </Loggers>
</Configuration>
